[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/KevinDong0810/kevindong0810.github.io.git
	branch = origin/master
